<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MARVELOUS</title>
    <meta name="description" content="A Marvel API Site by Tiana Attride">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fvenomfavicon.png?1551494783960" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|VT323" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    

  </head>
  
  <!--Body begins-->
  <body class="container">
  <!--Title page-->  
  <section id="title" class="container section">
    <div class="row">
      <div class="col">
        <div class="container character-box">
          <div class="row">
            <div class="col" id="header">
              <h1>
                marvelous
              </h1>
              <p>
                Select your fighter to begin.
              </p>
            </div>
          </div>  
          <div class="row character-select">
            <a href="#character1">
              <div class="col-3 character">
                <div class="container" id="venom-title">
                  <img src="https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fvenom.gif?1551620300426" alt="Venom">               
                </div>
              </div>
            </a>
            
            <a href="#character2">
              <div class="col-3 character">
                <div class="container" id="deadpool-title">
                  <img src="https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fdeadpool.gif?1551620299869" alt="Deadpool">               
                </div>
              </div>
            </a>          
            
            <a href="#character3">
              <div class="col-3 character">
                <div class="container" id="magneto-title">
                  <img src="https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fmagneto.gif?1551619935307" alt="Magneto">               
                </div>
              </div>
            </a>
            
          </div>
        </div>
      </div>
    </div>

    <div class="row controls">
        <div class="col">
            <div class="control">
              <p>
                A <span style="text-decoration: underline"><a href="https://www.developer.marvel.com">Marvel API</a></span> created by <span style="text-decoration: underline"><a href="https://www.tianaisonline.com">Tiana Attride</a></span> using <span style="text-decoration: underline"><a href="https://www.glitch.com">Glitch</a></span>.
              </p>
            </div> 
          <div class="control">
              <p>
                <span style="text-decoration: underline"><a href="#credit">Credit</a></span>
              </p>
            </div> 
        </div>

    </div>
</section>   
  
  <!--Section 1-->
  <section id="character1" class="container section">
    <div class="row">
      <div class="col">
        <div class="container character-box">
          <div class="row">
            <div class="col-lg-5">
              <div class="row card-photo">
                <img src="https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fvenom.gif?1551620300426" alt="Venom">
              </div>
            </div>
            
            <div class="col-lg-7"> <!--tomorrow make sure to set @media for class .col-lg-7 to stack properly for responsiveness-->
              <div class="row">
                <div class="col">
                  <h2>
                    Venom
                  </h2>
                </div>
              </div> 
              <div class="row">
                <div class="col">
                  <p>
                    <span class="info">Real name</span>: Varies; originally Eddie Brock (2nd host following Peter Parker)
                  </p>
                  <p>
                    <span class="info">First appearance</span>: 1988
                  </p>
                  <p>
                    <span class="info">Origin</span>: Intelligent alien symbiote capable of body hosting
                  </p>
                  <p>
                    <span class="info">Powers</span>: Shapeshifting, invisibility, telepathy, webbing, self-replication
                  </p>
                  <p>
                    <span class="info">Weaknesses</span>: Fire, sonic waves
                  </p>
                  <p>
                    <span class="info">Fun fact</span>: Because Venom once used Spiderman as a human host, it cannot be detected by spider-sense.
                  </p>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="comic-box">
      <h4>
         Appears in:
      </h4>
    </div>

    <div class="row controls">
        <div class="col-6">
          <a href="#">
            <div class="control">
              <p>
                Character Select
              </p>
            </div> 
          </a>
        </div>

        <div class="col-6">
          <a href="#credit">
            <div class="control">
              <p>
                Credit
              </p>
            </div> 
          </a>
        </div>
    </div>
</section> 
    

    
  <!--Section 2-->
  <section id="character2" class="container section">
    <div class="row">
      <div class="col">
        <div class="container character-box">
          <div class="row">
            <div class="col-lg-5">
              <div class="row card-photo">
                <img src="https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fdeadpool.gif?1551620299869" alt="Deadpool">
              </div>
            </div>
            
            <div class="col-lg-7"> <!--tomorrow make sure to set @media for class .col-lg-7 to stack properly for responsiveness-->
              <div class="row">
                <div class="col">
                  <h2>
                    Deadpool
                  </h2>
                </div>
              </div> 
              <div class="row">
                <div class="col">
                  <p>
                    <span class="info">Real name</span>: Wade Wilson
                  </p>
                  <p>
                    <span class="info">First appearance</span>: 1991
                  </p>
                  <p>
                    <span class="info">Origin</span>: Found a weird ring buried in the dirt, cursed with superpowers.
                  </p>
                  <p>
                    <span class="info">Powers</span>: Accelerated healing, near-immortality
                  </p>
                  <p>
                    <span class="info">Weaknesses</span>: Unknown
                  </p>
                  <p>
                    <span class="info">Fun fact</span>: Along with being a highly-trained assassin, Deadpool also speaks fluent English, German, Spanish, Japanese and ASL.
                  </p>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="comic-box">
      <h4>
         Appears in:
      </h4>
    </div>

    <div class="row controls">
        <div class="col-6">
          <a href="#">
            <div class="control">
              <p>
                Character Select
              </p>
            </div> 
          </a>
        </div>

        <div class="col-6">
          <a href="#credit">
            <div class="control">
              <p>
                Credit
              </p>
            </div> 
          </a>
        </div>
    </div>
</section>     
    
    
  <!--Section 3-->
  <section id="character3" class="container section">
    <div class="row">
      <div class="col">
        <div class="container character-box">
          <div class="row">
            <div class="col-lg-5">
              <div class="row card-photo">
                <img src="https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fmagneto.gif?1551619935307" alt="Magneto">  
              </div>
            </div>
            
            <div class="col-lg-7"> <!--tomorrow make sure to set @media for class .col-lg-7 to stack properly for responsiveness-->
              <div class="row">
                <div class="col">
                  <h2>
                    Magneto
                  </h2>
                </div>
              </div> 
              <div class="row">
                <div class="col">
                  <p>
                    <span class="info">Real name</span>: Max Eisenhardt
                  </p>
                  <p>
                    <span class="info">First appearance</span>: 1963
                  </p>
                  <p>
                    <span class="info">Origin</span>: Born a mutant, a subspecies of human with superhuman abilities
                  </p>
                  <p>
                    <span class="info">Powers</span>: Flight, telekenesis, astral projection, magnetic field generation and manipulation
                  </p>
                  <p>
                    <span class="info">Weaknesses</span>: Emotional/physical health, powerless without metal objects
                  </p>
                  <p>
                    <span class="info">Fun fact</span>: Magneto is a Holocaust survivor, which fuels his desire to protect Earth's mutant population from suffering a dire fate at the hands of those who fear them.
                  </p>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="comic-box">
      <h4>
         Appears in:
      </h4>
    </div>

    <div class="row controls">
        <div class="col-6">
          <a href="#">
            <div class="control">
              <p>
                Character Select
              </p>
            </div> 
          </a>
        </div>

        <div class="col-6">
          <a href="#credit">
            <div class="control">
              <p>
                Credit
              </p>
            </div> 
          </a>
        </div>
    </div>
</section>     
    <footer class="container" id="credit">
      <div class="row">
        <div class="col-lg-4">
          <strong><a href="#">Back to character select</a></strong><br><br>
        </div>
        <div class="col-lg-8">
          <strong>Credit:</strong><br>
          Characters by <a href="https://marvelvscapcominfinite.com/">Marvel vs Capcom</a>.<br>
          Background by <a href="https://twitter.com/midio">Midio</a>.<br>
          Made with <a href="https://glitch.com" target="_blank">Glitch</a>.<br>
          <strong>Click <a href="https://www.tianaisonline.com" target="_blank">here</a> for final boss.</strong><br>
        </div>
      </div>
    </footer>
    
    

    <!--Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!--Scrollmagic-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
    
    <!--JS-->
    <script src="/client.js" defer></script>
    
    
    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  
  </body>
</html>
