<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MARVELOUS</title>
    <meta name="description" content="A Marvel API Site by Tiana Attride">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fvenomfavicon.png?1551494783960" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|VT323" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <section id="title">
      <header>
        <img id="headerlogo" src="https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fmarvelouslogo.gif?1551496190929" alt="Marvelous logo">
      </header>
    </section>
    
    
    
    
    <main>
      <p class="bold">Pick your fighter:</p>
      <div id="characters" class="container">
        <div id="title-character-deadpool" class="title-character">
          <a href="#">
            <img src="https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fdeadpool.gif?1551494583807" alt="deadpool">
            <p class="title-caption">
              Deadpool
            </p>
          </a>
        </div>
        <div id="title-character-spiderman" class="title-character">
          
        </div>
        <div id="title-character-venom" class="title-character">
          
        </div>
      </div>

    </main>

    
    
    
    
    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!<br>
      Click <a href="https://www.tianaisonline.com" target="_blank">here</a> dummy.
    </footer>

    
    
    
    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  
  </body>
</html>
