<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MARVELOUS</title>
    <meta name="description" content="A Marvel API Site by Tiana Attride">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fvenomfavicon.png?1551494783960" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|VT323" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    

  </head>
  
  <!--Body begins-->
  <body class="container">
  <!--Title page-->  
  <section id="title" class="container section">
    <div class="row">
      <div class="col">
        <div class="container character-box">
          <div class="row">
            <div class="col" id="header">
              <h1>
                MARVELOUS
              </h1>
              <p>
                Select your fighter to begin.
              </p>
            </div>
          </div>  
          <div class="row">
            <a href="#">
              <div class="col-4 character-select">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row controls">
        <div class="col">
          <a href="#">
            <div class="control">
              <p>
                Stats
              </p>
            </div> 
          </a>
        </div>

    </div>
</section>   
  
  <!--Section 1-->
  <section id="character1" class="container section">
    <div class="row">
      <div class="col">
        <div class="container character-box">
          <div class="row">
            <div class="col-8">
              <div class="row">
                <div class="col">
                  <h2>
                    Character's name.
                  </h2>
                </div>
              </div> 
              <div class="row">
                <div class="col">
                  <p>
                    <span class="info">Real name</span>: Tiana Attride
                  </p>
                  <p>
                    <span class="info">Location</span>: New York City
                  </p>
                  <p>
                    <span class="info">Origin</span>: Found a weird ring buried in the dirt, cursed with superpowers.
                  </p>
                  <p>
                    <span class="info">Powers</span>: Flying, telekenesis
                  </p>
                  <p>
                    <span class="info">Weaknesses</span>: Peanut butter, British men
                  </p>
                  <p>
                    <span class="info">Fun fact</span>: Has visited 12 countries
                  </p>
                </div>
              </div> 
            </div>

            <div class="col-4">
              <div class="row">
                sup
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row controls">
        <div class="col-6">
          <a href="#">
            <div class="control">
              <p>
                Character Select
              </p>
            </div> 
          </a>
        </div>

        <div class="col-6">
          <a href="#">
            <div class="control">
              <p>
                Stats
              </p>
            </div> 
          </a>
        </div>
    </div>
</section> 
    
    
    
    <footer>
      Made with <a href="https://glitch.com" target="_blank">Glitch</a>!<br>
      Click <a href="https://www.tianaisonline.com" target="_blank">here</a> for the final boss.
    </footer>

    <!--Script-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/client.js" defer></script>
    
    
    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  
  </body>
</html>
