/* QUESTIONS
* 1. Why does my title gif stop moving?
* 2. Weird centering issues...as usual
*
*
*
*
*NOTES
* You're also gonna need to wrap each section in a larger div so that when you click to move to another section, the section content will be centered on the page.
* Although now that I think about it, I don't know if I'll need that with scrollmagic? will have to test and see hmm....
* When you install ScrollMagic, do the one that scrolls in several different directions. Also make the three different characters have different color character boxes!
* Do grey for Venom, black for Magneto, white for Deadpool? 
*
*
*
*/


/* styles */
/* called by your view template */

body {
  font-family: 'VT323', monospace;
}

h1, h2 {
  font-family: 'VT323', monospace;
  font-style: italic;
  color: white;
}

p {
  font-family: 'VT323', monospace;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

section {
  margin-bottom: 300px;
}


/*Custom classes*/
.panel {
  height: 100%;
  width: 100%;
}

.panel.three {
  margin-bottom: 0px;
}

.title {
  background-image: url("https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fcity.gif?1551619069181");
}

.one {
background-image: url("https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Foriginal.gif?1551638653989");
background-repeat: no-repeat;
background-size: 100% 100%;
}

.two {
background-image: url("https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fwaneella.gif?1551639051814");
background-repeat: no-repeat;
background-size: 100% 100%;
}

.three {
background-image: url("https://cdn.glitch.com/6b596ae5-d16e-4ffa-b78a-2d3e6081e16e%2Fpinky1337.gif?1551638998592");
background-repeat: no-repeat;
background-size: 100% 100%;
}


.character-box {
  background-color:black;
  opacity: 1;
  margin-top: 200px;
  height: 350px;
  width: 100%;
  min-width: 200px; 
  padding: 20px;
  color: white;
  overflow: scroll;
}


.character-box h2 {
  color: white;
  margin-bottom: 10px;
}


.character-box img {
  height: 200px;
}

.info {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

.comic-box {
  background-color: black;
  opacity: 1;
  margin-top: 20px;
  height: 300px;
  width: 100%;
  min-width: 200px;
  padding: 40px;
  color: white;
}

.comic-box h4 {
  color: white;
  font-style: italic;
}

.character-select {
  margin-left: 180px;
  align-content: space-around;
}

.character-select img {
  height: 175px;
}

.controls {
  width: 100%;
  margin: 10px;
  align-content: space-between;
}

.controls a {
  color: white;
  text-decoration: none;
}

.controls a:hover {
  color: white;
  text-decoration: none;
}

.control {
  margin-top: 5px;
  padding: 2px;
  background-color:black;
  opacity: 1;
  height: 30px;
  text-align: center;
  color: white;
}

.control:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.panel .card-photo {
  height: 200px;
  margin-left: 80px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 20px;
}


/*Custom IDs*/
#header {
  text-align: center;
  margin-bottom: -50px;
}

#header h1 {
  margin-bottom: -10px;
  font-size: 70px;
}

#title .character-box img {
  margin-top: 60px;
}

#character1 .character-box {
  background-color: rgba(34, 35, 36, 0.9);
}

#character1 .comic-box {
  background-color: rgba(34, 35, 36, 0.9);
}

#character1 .control {
  background-color: rgba(34, 35, 36, 0.9);
}

#character2 .character-box {
  background-color: rgba(221, 63, 69, 0.9);
}

#character2 .comic-box {
  background-color: rgba(221, 63, 69, 0.9);
}

#character2 .control {
  background-color: rgba(221, 63, 69, 0.9);
}

#character3 .character-box {
  background-color: rgba(27, 16, 29, 0.9);
}

#character3 .comic-box {
  background-color: rgba(27, 16, 29, 0.9);
}

#character3 .control {
  background-color: rgba(27, 16, 29, 0.9);
}


/*etc*/
footer {
  background-color:rgba(0,0,0,0.5);
  color: lightgray;
  height: 200px;
}

footer a {
  color: lightgray;
  text-decoration: underline;
}

footer a:hover {
  color: lightgray;
  text-decoration: none;
}

footer a:visited {
  color: lightgray;
  text-decoration: none;
}

footer a:active {
  color: lightgray;
  text-decoration: none;
}


/*fonts
* PRESS START 2P   font-family: 'Press Start 2P', cursive;
* VT323            font-family: 'VT323', monospace;
*
*
*/