/* QUESTIONS FOR OPEN LAB DAY
* 1. Why does my title gif stop moving?
*
*
*
*
*
*
*/


/* styles */
/* called by your view template */

body {
  font-family: 'VT323', monospace;
  margin: 400px;
  margin-top: 200px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Press Start 2P', cursive;
  color: #000000;
}

p {
  font-family: 'VT323', monospace;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

a {
color: red;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:visited {
color: red;
text-decoration: none;
}

a:active {
color: red;
text-decoration: none;
}




/*Custom classes*/
.characters {
display: flex;
align-content: space-around;
}

.title-character{
width: 200px;
padding: 10px;
}

.title-character img{
height: 100px;
}

.title-character:hover {
background-color: lightgrey;
cursor: url(hand.cur), pointer;
}



/*Custom IDs*/
#title p{
text-align: center;
}

#headerlogo {
 margin-bottom: 10px;
}





/*fonts
* PRESS START 2P   font-family: 'Press Start 2P', cursive;
* VT323            font-family: 'VT323', monospace;
*
*
*/