/* QUESTIONS FOR OPEN LAB DAY
* 1. Why does my title gif stop moving?
*
*
*
*
*
*
*/


/* styles */
/* called by your view template */

body {
  font-family: 'VT323', monospace;
  margin: 300px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Press Start 2P', cursive;
  color: black;
}

p {
  font-family: 'VT323', monospace;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

a {
color: black;
text-decoration: none;
}

a:hover {
color: black;
text-decoration: underline;
}

a:visited {
color: black;
text-decoration: none;
}

a:active {
color: black;
text-decoration: none;
}




/*Custom classes*/

.title-character{
width: 200px;
margin: 10px;
}

.title-character img{
height: 100px;
}

.title-character:hover {
cursor: url(hand.cur), pointer;
text-decoration:none;
}

.title-caption {
text-align:center;
}


/*Custom IDs*/

#headerlogo {
 margin-bottom: 10px;
}





/*etc*/
footer a {
color: black;
text-decoration: underline;
}

footer a:hover {
color: black;
text-decoration: none;
}

footer a:visited {
color: black;
text-decoration: none;
}

footer a:active {
color: black;
text-decoration: none;
}


/*fonts
* PRESS START 2P   font-family: 'Press Start 2P', cursive;
* VT323            font-family: 'VT323', monospace;
*
*
*/